asgiref==3.3.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorzero==2.0
cron-descriptor==1.2.24
Django==3.1.5
idna==2.10
itsdangerous==1.1.0
MarkupSafe==1.1.1
pycron==3.0.0
pyftdi==0.52.9
pyserial==3.5
pyTelegramBotAPI==3.7.7
pytz==2020.5
pyusb==1.1.1
requests==2.25.1
sqlparse==0.4.1
sysv-ipc==1.1.0
urllib3==1.26.4
uWSGI==2.0.19.1
