
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="theme-color" content="#080808">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" href="static/favicon.ico" type="image/x-icon">
    <script src="static/admin/js/vendor/jquery/jquery.min.js"></script>
  </head>

  <body>
    <a name="relay"></a>
    <div class="container">

{% include 'content.html' %}

    </div>
    <script type="text/javascript" src="static/js/refresh.js"></script>
  </body>
</html>
